<div>
  <div class="col-md-4 offset-md-4">
    <h2 class="text-center pt-5">Тќ░УдЈТіЋуе┐­ЪљѕРђЇРгЏ</h2>
    <%= form_with model: @post do |f| %>
      <%= render 'shared/error_messages', { target: @post } %>
      <div class="form-group" >
        <%= f.file_field :image, placeholder: "ka", class: "form-control" %>
      </div>
      <div class="form_group pt-4 pb-3">
        <%= f.text_field :title, placeholder: "сѓ┐сѓцсЃѕсЃФ", class: "form-control" %>
      </div>

      <div class="form-group" >
        <%= f.text_area :content, placeholder: "тєЁт«╣", rows: 7, class: "form-control" %>
      </div>

      <div class="text-center"> 
        <%= f.submit "ТіЋуе┐", class: "btn btn-primary mt-2" %>
      </div>
    <% end %>
  </div>
</div>