<div class="texts-wrapper">
    <div class="contents-title text-center mt-2">
      <h3>詳細ページ</h3>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card m-2 h-100 ">
            <%= image_tag(@post.image) %>
              <div class="card-body">
                <h5 class="card-title"><%= @post.title %></h5>
                <p class="card-text"><%= @post.content %></p>
                <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-primary' %>
                <%= link_to "削除", post_path(@post.id), method: :delete, class: 'btn btn-primary' %>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>